link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')

block content
    a.lookup(href='/quote') Look Up A Stock
    div
      table.table.table-hover
        thead
          th Symbol
          th Company
          th Price
          th Qty
        tr
          td AAPL
          td Apple
          td 96.12
          td 50
