link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')

block content
    div
      table.table.table-hover
        thead
          th Symbol
          th Company
          th Price
          th Qty
