link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')

block content
    .container
        h1 Search for a stock
            div.form-group
            form(method='POST', action='/quote')
                label
                input(type='text', name='symbol', placeholder='Enter Symbol')
                button(type='submit') Get Quote

            if results
                ul Search results:
                    each result, i in results
                        li.nostyle
                            a.decoration(href="/detail/#{result.symbol}") #{result.symbol} #{result.name}
