block content
    .container
        h1 Pick A Stock
            form(method='POST', action='/quote')
                label symbol
                input(type='text', name='symbol', placeholder='Enter Symbol')
                button(type='submit') Get Quote
