link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')

block content
    h1 Updating stock prices. You will be redirected in a few seconds
