.yellow {
    background: yellow;
}

.decoration {
    text-decoration: none;
}

.nostyle {
    list-style-type: none;
}

.lookup {
    text-align: center;
    display: block;
}

#header {
    text-align: center;
}
